<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="components">
  <tr>
    <td>
      <%= f.label :name %><br />
    </td>
    <td>
      <%= f.text_field :name %>
    </td>
  </tr>
  </table>
  <br />

  <div id="component_server">
    <%= f.fields_for :service_components do |sc| %>
      <%= render 'fields_service_component', :f => sc %>
    <% end %>
    <p><%= link_to_add_fields 'Add Component', f, :service_components %></p>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
