<%= form_for(@component) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <dl>
    <div class="field">
      <%= f.label :name, 'Component Name' %><br />
      <%= f.text_field :name %>
    </div>
  </dl>
  <dl>
    <div id="component_server">
    <%= f.fields_for :component_servers do |cs| %>
      <%= render 'fields_component_server', :f=> cs %>
    <% end %>
    </div>
    <p><%= link_to_add_fields 'Add Host', f, :component_servers %></p>
  </dl>
  <div class="actions">
      <%= f.submit %>
  </div>
<% end %>
