<%= form_for(@component) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="components">
  <tr>
    <td>
      <%= f.label :name, 'Component Name' %><br />
    </td>
    <td>
      <%= f.text_field :name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :domain, 'Domain Name' %><br />
    </td>
    <td>
      <%= select_tag :domain, options_for_select( {"---Select Domain---"=>"TechnicalDomain", "ApplicationServices"=>"ApplicationServices", "Distributed"=>"Distributed","Mainframe"=>"Mainframe","Networks"=>"Networks","Workplaces"=>"Workplaces"}, :selected => @component.domain) %>
    </td>
  </tr>
  </table>
  <br />
  <div id="component_server">
    <%= f.fields_for :component_servers do |cs| %>
      <%= render 'fields_component_server', :f=> cs %>
    <% end %>
    <p><%= link_to_add_fields 'Add Host', f, :component_servers %></p>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
