<p id="notice"><%= notice %></p>

<dl>
<dt>
<p>
  <b>ComponentName:<%= @component.name %></b>
</p>
<p>
  <b>Domain:<%= @component.domain %></b>
</p>
</dt>
<p>
  <% @component.servers.each do |s| %>
  <dd>
  <%= render "server", :server=> s %>
  </dd>
  <% end %>
</p>
</dl>

<div id="foot_menu">
<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
</div>
