<div id="title">
<h1>Search Result</h1>
</div>

<table class="search_result">
<tr>
  <td> Server Name </td>
  <td> <%= @search.host_name %> </td>
</tr>
<tr>
  <td> OS </td>
  <td> <%= @search.os %> </td>
</tr>
<tr>
  <td>Physical/Virtual</td>
  <td><%= @search.p_or_v %></td>
</tr>
</table>

<div id="ctree">
<ul>
<% @search.components.each do |c| %>
  <li id="key<%= c.id %>" class="folder">
    <%= c.name %>
    <ul>
    <% c.services.each do |s| %>
      <li id="key<%= s.id %>">
        <%= s.name %>
      </li>
    <% end %>
    </ul>
  </li>
<% end %>
</ul>
</div>

<div id="foot_menu">
<%= link_to 'Back', search_index_path %>
</div>

