<div id="title">
<h1>Search Result</h1>
</div>

<table class="search_result">
<tr>
  <td> Service Name </td>
  <td> <%= @search.name %> </td>
</tr>
<tr>
  <td> Service ID </td>
  <td><%= @search.sid %></td>
</tr>
<tr>
  <td> Sub System Code</td>
  <td><%= @search.code %></td>
</tr>
<tr>
  <td> Description</td>
  <td><%= @search.description %></td>
</tr>
</table>

<div id="ctree">
<ul>
<% @search.components.each do |c| %>
  <li id="key<%= c.id %>" class="folder">
    <%= c.name %>
    <ul>
    <% c.servers.each do |s| %>
      <li id="key<%= s.id %>">
        <%= s.host_name %>
        <ul>
        <% s.softwares.each do |sw| %>
          <li id="key<%= sw.id %>">
            <%= sw.sw_name %>
          </li>
        <% end %>
        </ul>
      </li>
    <% end %>
    </ul>
  </li>
<% end %>
</ul>
</div>

<div id="foot_menu">
<%= link_to 'Back', search_index_path %>
</div>

