<div id="top_menu">
<%= link_to "|SERVICE", services_path %>
<%= link_to "|COMPONENT", components_path %>
<%= link_to "|SERVER", servers_path %>
<%= link_to "|SOFTWARE|", softwares_path %>
</div>

<div id="title">
<h1>Listing servers</h1>
</div>

<p>
<div id="dl_menu">
Download:
<%= link_to "CSV", servers_path(format: "csv") %>
</div>
</p>

<table class='components'>
  <tr>
    <th>Name</th>
    <th colspan=3>action</th>
  </tr>

<% @servers.each do |server| %>
  <tr>
    <td><%= server.host_name %></td>
    <td><%= link_to 'Show', server %></td>
    <td><%= link_to 'Edit', edit_server_path(server) %></td>
    <td><%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<div id="foot_menu">
<%= link_to 'New Server', new_server_path %>
</div>
