<% content_for :topbar do %>
<% if can? :manage, :services %>
<li><%= link_to "HOME", :controller=>"admin", :action=>"index" %></li>
<li><%= link_to "SERVICE", :controller=>"services", :action=>"index" %></li>
<li><%= link_to "COMPONENT", :controller=>"components", :action=>"index" %></li>
<li><%= link_to "SERVER", :controller=>"servers", :action=>"index" %></li>
<li><%= link_to "SOFTWARE", :controller=>"softwares", :action=>"index" %></li>
<% end %>
<% end %>

<div id="title">
<h1>Listing servers</h1>
</div>

<table class='components'>
  <tr>
    <th>Name</th>
    <th colspan=3>action</th>
  </tr>

<% @servers.each do |server| %>
  <tr>
    <td><%= server.host_name %></td>
    <td><%= link_to 'Show', server %></td>
    <td><%= link_to 'Edit', edit_server_path(server) %></td>
    <td><%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<div id="foot_menu">
<%= link_to 'New Server', new_server_path %>
</div>
