<%= form_for(@software) do |f| %>
  <% if @software.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@software.errors.count, "error") %> prohibited this software from being saved:</h2>

      <ul>
      <% @software.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="components">
  <tr>
    <td>
      <%= f.label :maker %><br />
    </td>
    <td>
      <%= f.text_field :maker %>
    </td>
  </tr>
  <tr>
    <td>
    <%= f.label :sw_name %><br />
    </td>
    <td>
    <%= f.text_field :sw_name %>
    </td>
  </tr>
  <tr>
    <td>
    <%= f.label :version %><br />
    </td>
    <td>
    <%= f.text_field :version %>
    </td>
  </tr>
  <tr>
    <td>
    <%= f.label :eos_date %><br />
    </td>
    <td>
    <%= f.date_select :eos_date %>
    </td>
  </tr>
  </table>
  <br />
  <div id="component_server">
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
