<p id="notice"><%= notice %></p>

<table class="components">
<tr>
<td>
  <b>Maker</b>
</td>
<td>
  <%= @software.maker %>
</td>
</tr>

<tr>
<td>
  <b>Sw name</b>
</td>
<td>
  <%= @software.sw_name %>
</td>
</tr>

<tr>
<td>
  <b>Version</b>
</td>
<td>
  <%= @software.version %>
</td>
</tr>

<tr>
<td>
  <b>Eos date</b>
</td>
<td>
  <%= @software.eos_date %>
</td>
</tr>
</table>
<br />

<div id="foot_menu">
<%= link_to 'Edit', edit_software_path(@software) %> |
<%= link_to 'Back', softwares_path %>
</div>
