<p id="notice"><%= notice %></p>

<p>
  <b>Maker:</b>
  <%= @software.maker %>
</p>

<p>
  <b>Sw name:</b>
  <%= @software.sw_name %>
</p>

<p>
  <b>Version:</b>
  <%= @software.version %>
</p>

<p>
  <b>Eos date:</b>
  <%= @software.eos_date %>
</p>


<%= link_to 'Edit', edit_software_path(@software) %> |
<%= link_to 'Back', softwares_path %>
